/* Dark mode colors. */
:root {
    --sl-color-accent-low: #182822;
    --sl-color-accent: #3c7763;
    --sl-color-accent-high: #bacec6;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #eaf0e8;
    --sl-color-gray-2: #c5cdc3;
    --sl-color-gray-3: #99a796;
    --sl-color-gray-4: #4f5c4d;
    --sl-color-gray-5: #303c2d;
    --sl-color-gray-6: #1f2a1c;
    --sl-color-black: #151a13;
}

/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #ccdbd5;
    --sl-color-accent: #1b5946;
    --sl-color-accent-high: #1f382f;
    --sl-color-white: #151a13;
    --sl-color-gray-1: #1f2a1c;
    --sl-color-gray-2: #303c2d;
    --sl-color-gray-3: #4f5c4d;
    --sl-color-gray-4: #82907f;
    --sl-color-gray-5: #bdc4bb;
    --sl-color-gray-6: #eaf0e8;
    --sl-color-gray-7: #f4f7f3;
    --sl-color-black: #ffffff;
}
